/*  All keyframes of page  */

@keyframes booking-modal-content_toDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes width-hero-h1 {
    from {
        opacity: 0;
        width: 0%;
        background-color: #d7d7d7;
    } to {
        opacity: 1;
        width: var(--width-hero-h1);
        background-color: transparent;
    }
}
@keyframes width-hero-p {
    from {
        opacity: 0;
        width: 0%;
        background-color: #d7d7d7;
        
    } to {
        opacity: 1;
        width: var(--width-hero-p);
        background-color: transparent;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@keyframes mini-pop-up-feedback {
    from {
        opacity: 0;
        top: 100%;
    } to {
        opacity: 1;
        top: 50%;
    }
}
@keyframes mini-pop-up2-feedback {
    from {
        opacity: 1;
        right: 50%;
    } to {
        opacity: 0;
        right: 150%;
    }
}

/* reveal code for all project */

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s 0s ease;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0px);
}