/* Reset */

body::before {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--pic) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: all 200ms 0s linear;
  z-index: -1;
}
header {
  position: sticky;
  
}

/* Cars Container */

.car-section  {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.car-section .right-h1-left {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--primary-color3);
}
.right-h1-left a {
  text-decoration: none;
}
#h1-car-types {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color6);
  width: 35%;
}
#right-btn, #left-btn {
  background: var(--primary-color6);
  color: var(--primary-color1);
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
#right-btn:hover, #left-btn:hover {
  background: var(--primary-color5);
  transform: scale(1.1);
}
#right-btn:active, #left-btn:active {
  background: var(--primary-color4);
  transform: scale(0.95);
}
.car-section .container {
  padding: 20px;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  background-color: #00000080;
}

/* Each Car Card */
.car-card {
  width: 350px;
  backdrop-filter: blur(30px);
  background: color-mix(in srgb, var(--primary-color2) 60%, transparent) !important;
  color: var(--primary-color6);
  border-radius: 15px;
  box-shadow: 0 0 20px var(--primary-color6) inset;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  backdrop-filter: blur(10px);
}
.car-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 10px var(--primary-color6) inset,
              0 0 0 10px #c0e6fd;
}

.brand {
  font-size: 30px;
  text-align: center;
  width: 100%;
  color: var(--primary-color6);
}
.car-model {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--primary-color5);
}
.car-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
  filter: drop-shadow(0 0 25px var(--primary-color6));
}
.car-card p {
  margin-top: -20px;
}
.bookNowBtn {
  background: var(--primary-color2);
  color: var(--primary-color6);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.bookNowBtn:hover {
  background: var(--primary-color5);
  color: var(--primary-color1);
  transform: scale(1.05);
}
.bookNowBtn:active {
  background: var(--primary-color4);
  color: var(--primary-color1);
  transform: scale(0.95);
}
