/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body::before {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--pic) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: all 200ms 0s linear;
  z-index: -1;
}

header {
  position: sticky;
}

/* Section Title + Buttons */
.right-h1-left {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  background: var(--primary-color3);
}
.right-h1-left a {
  text-decoration: none;
}
#h1-car-types {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color6);
  padding: 0 75px;
}

#right-btn, #left-btn {
  background: var(--primary-color6);
  color: var(--primary-color1);
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#right-btn:hover, #left-btn:hover {
  background: var(--primary-color5);
  transform: scale(1.1);
}
#right-btn:active, #left-btn:active {
  background: var(--primary-color4);
  transform: scale(0.95);
}

/* Cars Container */

.car-section  {
  background-color: blue ;
  height: 500px;
  padding: 30px;
}
.container {
  border-collapse: red;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* Each Car Card */
.car {
  background-color: red;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  backdrop-filter: blur(10px);
}

/* Hover effect */
.car:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* Brand */
.brand {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #4da6ff;
}

/* Image */
.car img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Price */
.car p {
  margin: 8px 0;
}

/* Button */
.booking-btn {
  background: #4da6ff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.booking-btn:hover {
  background: #1a8cff;
  transform: scale(1.05);
}


img {
  width: 250px;
  height: 150px;
}